﻿@model FizzBuzz.Models.HomeModel
@{
    ViewBag.Title = "FizzBuzz Test";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <div class="jumbotron">
        <h3>FizzBuzz</h3>
        <hr />

        <div class="form-horizontal" style="float: inherit">
            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-horizontal" style="float: left">

            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-horizontal" style="float: inherit">
            <input class="btn btn-default" type="submit" value="Submit" />
        </div>
        <div class="form-horizontal" style="float: inherit">
            @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
