﻿@model IEnumerable<FizzBuzz.Models.HomeModel>

@{
    ViewBag.Title = "FizzBuzz Test";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <div class="jumbotron">
        <h3>FizzBuzz</h3>
        <hr />
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Numbers</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in @Model)
                {
                    var abc = "";
                    for (int i = 1; i <= item.Value; i++)
                    {


                        if (@i % 5 == 0 && @i % 3 == 0)
                        {
                            abc  = "FizzBuzz";

                        }

                        else if (@i % 5 == 0)
                        {
                            abc = "Buzz";


                        }
                        else if (@i % 3 == 0)
                        {
                            abc = "Fizz";
                        }
                        else
                        {
                            abc = i.ToString();
                        }
                        <tr>
                            <td>@abc</td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

